.Home {
  text-align: center;
}

.openButton {
  background-color: #ac0073;
}

.Modal {
  background-color: #ac0073;
  padding: 50px;
  z-index: 100;
  width: 25em;
  height: 15em;
  border-radius: 1.2em;
}

.Modal {
  position: fixed;
  height: 50vh;
  width: 50vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeButton {
  background-color: #002b56;
}
